version: '3.9'

services:
  db:
    image: postgres:17
    container_name: ziyad-db
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: ziyad-app
    command: sh -c "pnpm migration:run && pnpm start:dev"
    env_file:
      - ./.env
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
